@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    font-family: 'Open-Sans', sans-serif;
}